<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>
        {% if media %}
            Modifier le média
        {% else %}
            Ajouter un média
        {% endif %}
    </title>

</head>
<body>

<form method="post">
    {% csrf_token %}

    <p>
        {{ form.title.label_tag }}
        {{ form.title }}
    </p>

     <p>
        {{ form.media_type.label_tag }}
        {{ form.media_type }}
    </p>

    <div id="field-author">
        {{ form.author.label_tag }}
        {{ form.author }}
    </div>
    <div id="field-artist">
        {{ form.artist.label_tag }}
        {{ form.artist }}
    </div>
    <div id="field-realisator">
        {{ form.realisator.label_tag }}
        {{ form.realisator }}
    </div>
    <div id="field-creator">
        {{ form.creator.label_tag }}
        {{ form.creator }}
    </div>

    <br>

    <button type="submit">Ajouter</button>

</form>

<script>

function updateFields() {
    const type = document.getElementById("id_media_type").value;

    document.getElementById("field-author").style.display = "none";
    document.getElementById("field-artist").style.display = "none";
    document.getElementById("field-realisator").style.display = "none";
    document.getElementById("field-creator").style.display = "none";

    if (type === "books") {
        document.getElementById("field-author").style.display = "block";
    }
    if (type === "cds") {
        document.getElementById("field-artist").style.display = "block";
    }
    if (type === "dvds") {
        document.getElementById("field-realisator").style.display = "block";
    }
    if (type === "game") {
        document.getElementById("field-creator").style.display = "block";
    }
}

document.getElementById("id_media_type").addEventListener("change", updateFields);

updateFields();

</script>

<br>

<a href="{% url 'media_list' %}">Retour à la liste</a>

</body>
</html>